<!---Thanks to undraw-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Webpage !</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="img">
        <img src="https://raw.githubusercontent.com/AhsanFarabi/Responsive_Login_Webpage/master/img/pc.svg" />
      </div>
      <div class="login-container">
        <form action="index.html">
          <img class="avator" src="https://raw.githubusercontent.com/AhsanFarabi/Responsive_Login_Webpage/master/img/avator.svg" />
          <h2>Howdy, Join us</h2>
          <div class="input-div" one>
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div>
              <h5>Username</h5>
              <input class="input" type="text" />
            </div>
          </div>
          <div class="input-div" two>
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div>
              <h5>password</h5>
              <input class="input" type="password" />
            </div>
          </div>
          <a href="#">Forgot password ?</a>
          <input type="submit" class="btn" value="Login" />
        </form>
      </div>
    </div>
    <footer>
      Copyright © 2020 - All rights Reserved - Designed by AhsanParadise
    </footer>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>